[submodule "mts-dylib-reference"]
	path = third_party/mts-dylib-reference
	url = https://github.com/baconpaul/mts-dylib-reference.git
	ignore = dirty
[submodule "tuneBfree"]
	path = third_party/tuneBfree
	url = git@github.com:carlhenrikrolf/tuneBfree.git
[submodule "third_party/Carla"]
	path = third_party/Carla
	url = https://github.com/falkTX/Carla.git
[submodule "third_party/xentotune"]
	path = third_party/xentotune
	url = https://github.com/narenratan/xentotune.git
	ignore = dirty
