[submodule "exquis-firmware"]
	path = third_part/exquis-firmware
	url = https://github.com/carlhenrikrolf/exquis-firmware.git
[submodule "third_party/exquis-firmware"]
	path = third_party/exquis-firmware
	url = https://github.com/carlhenrikrolf/exquis-firmware.git
[submodule "third_party/mts-dylib-reference"]
	path = third_party/mts-dylib-reference
	url = https://github.com/baconpaul/mts-dylib-reference.git
