Cython>=3.0.10
mido>=1.3.2
mtsespy>=0.1.0
numpy>=1.26.4
pycparser>=2.22
python-rtmidi>=1.5.8
colour>=0.1.5
JACK-Client>=0.5.5
PyQt5_sip>=12.16.1
PyQt5>=5.15.11 --config-settings="--confirm-licence="
python-osc>=1.9.3
psutil>=7.0.0

