[Unit]
Description=Start Librespot
After=graphical.target

[Service]
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart='/home/pi/.cargo/bin/librespot' --backend jackaudio --name MicrotonOS
Restart=on-failure
RestartSec=2s
KillMode=control-group
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
