[Unit]
Description=Start Guitarix
After=graphical.target
Requires=qjackctl.service

[Service]
User=pi
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR="/run/user/1000"
ExecStart=/usr/bin/bash /home/pi/microtonOS/src/wrappers/guitarix.sh
Restart=always
RestartSec=2s
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
