[Unit]
Description=Start the microtonOS hub
After=graphical.target

[Service]
User=pi
ExecStart=/home/pi/microtonOS/.venv/bin/python3 /home/pi/microtonOS/src
Restart=on-failure
RestartSec=2s
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
