[Unit]
Description=Start the microtonOS hub
After=graphical.targets

[Service]
User=pi
Environment=XDG_RUNTIME_DIR="/run/user/1000"
ExecStart=/home/pi/microtonOS/.venv/bin/python3 /home/pi/microtonOS/src
Restart=always
RestartSec=2s
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
