[Unit]
Description=Start Sonobus
After=graphical.target
Requires=qjackctl.service

[Service]
User=pi
ExecStart=/usr/bin/sonobus --group=microtonOS --username=pi --load-setup=/home/pi/microtonOS/config/setup.sonobus --headless
Restart=always
RestartSec=2s
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
