[Unit]
Description=Start the WIDI driver
After=graphical.target

[Service]
User=pi
ExecStart=/home/pi/microtonOS/.venv/bin/python3 /home/pi/microtonOS/src/drivers/widi.py
Restart=always
RestartSec=2s
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
