[Unit]
Description=Start XentoTune (and an audio thru)
After=graphical.target
Requires=qjackctl.service

[Service]
User=pi
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR="/run/user/1000"
ExecStart=/home/pi/microtonOS/.venv/bin/python3 /home/pi/microtonOS/src/wrappers/xentotune.py
Restart=always
RestartSec=2s
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
