[Unit]
Description=Start ALSA to JACK MIDI daemon (a2jmidid)
After=graphical.target
Requires=qjackctl.service

[Service]
User=pi
WorkingDirectory=/home/pi/microtonOS/tmp/
ExecStart=/usr/bin/a2jmidid -u
Restart=always
RestartSec=2s
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
