[Unit]
Description=Start MTS-ESP Master
After=graphical.target

[Service]
User=pi
ExecStart=/home/pi/microtonOS/.venv/bin/python3 /home/pi/microtonOS/src/mtsesp_master
Restart=always
RestartSec=2s
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
