[Desktop Entry]
Name=Catia
GenericName=Catia
Comment=JACK Patchbay
Comment[fr]=Baie de brassage pour JACK
Exec=/usr/bin/pw-jack catia
Icon=catia
Terminal=false
Type=Application
Categories=AudioVideo;AudioEditing;Qt;
