[Desktop Entry]
Name=sfizz
Exec=/usr/bin/pw-jack /home/pi/sfizz/library/bin/sfizz_jack
Comment=
Terminal=true
Icon=gnome-panel-launcher
Type=Application
